{{ define "body" -}}
<optionDialog id="{{ .BodyID }}">
  <header>
    <simpleHeader accessibilityLabel="Dialog with Options">
      <title>{{ index .Translations "settings.title" }}</title>
    </simpleHeader>
  </header>
  <description>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</description>
  <menu>
    <initialSelection>
      <row>1</row>
    </initialSelection>
    <sections>
      <menuSection>
        <items>
          <oneLineMenuItem
              id="list_0"
              accessibilityLabel="{{ index .Translations "settings.reload" }}"
              onSelect="console.log('Option 1 selected'); atv.unloadPage();">
            <label>{{ index .Translations "settings.reload" }}</label>
          </oneLineMenuItem>
        </items>
      </menuSection>
    </sections>
  </menu>
</optionDialog>
{{- end }}